.container{
     display: grid;
     grid-template-columns: 3fr 1fr;
     gap: 50px;
     max-width: 1370px;
     margin: 0 auto;

     
}
.accessories-container{
     margin: 20px;
     width: 100%;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 20px;
}
.left-side-container{
     max-width: 1025px;
}
.details-container{
     background-color: white;
     
}